* {
    box-sizing: border-box;
}

:root {
    font-size: 100%;
    scroll-behavior: smooth;
  }

body {
    color: var(--foreground);
    font-family: sans-serif;
    font-size: 1rem;
    background-image: url(./images/forest_stairs.png);
    background-color: #272d32;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body img {
    max-width: 100%
}

h1, h2, h3 {
    color: var(--mauve);
    font-family: sans-serif;
}


.bigboi {
    width: 75vw;
    margin: auto;
    display: flex;
    min-width: auto;
}

.mainbox {
    border: black 2px solid;
    background-color: var(--mantle);
    padding: 2rem;
    flex-direction: column;
    width: 80%;
    flex: 0 0 80%;
}
.gallery > img{
	display: inline;
	height: 250px;
}
.navigation {
    border: black 2px solid;
    width: 0 0 20%;
    text-align: center;
    background-color: var(--mantle);;
    flex-direction: column;
    flex: 1;
}

img {
    max-width: 60vw;
}

a {
    color: #ee7f80;
    text-decoration: none;
}

.infobox {
    margin: 1rem auto;
    border: 2px black solid;
    overflow: auto;
    word-wrap: break-word;
    padding: 0.5rem;
    max-height: 250px;
    max-width: 90%;
    background-color: var(--crust);

}

.bubble {
    color: white;
    border-radius: 5px;
    max-width: 120px;
    text-align: center;
}

code {
    border: 3px solid #11111b;
    padding: 3px;
    background-color: var(--crust);
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.infocard {
    float: right;
    margin-top: 0;
}

.outlink::after {
      content: url(/images/external-ltr.svg);
      margin-left: 5px;
}

#statuscafe {
    padding: 0.5em;
    background-color: var(--crust);
    border: 1px solid black;
}

#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}


