* {
    box-sizing: border-box;
}

:root {
    --mantle: #101e09;
    --foreground: #d3c6aa;
    --crust: #061200;
    --mauve: #d699b6;
  }

body {
    color: var(--foreground);
    font-family: sans-serif;
    background-image: url(./images/dtile.png);
    background-color: #272d32;
    background-repeat: repeat;
    background-attachment: fixed;
}

body img {
    max-width: 100%
}

h1, h2, h3 {
    color: var(--mauve);
}


.bigboi {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    min-width: auto;
}

.mainbox {
    border: black 2px solid;
    background-color: var(--mantle);
    padding: 2rem;
    width: 80%;
    flex: 0 0 80%;
}
.gallery > img{
    display: inline;
    height: 250px;
}
.navigation {
    border: black 2px solid;
    width: 20%;
    text-align: center;
    background-color: var(--mantle);
    flex: 1;
}

img {
    max-width: 60vw;
}

a {
    color: #dabc7f;
    text-decoration: none;
}

.infobox {
    margin: 1rem auto;
    border: 2px black solid;
    overflow: auto;
    word-wrap: break-word;
    padding: 0.5rem;
    max-width: 90%;
    background-color: var(--crust);

}

code {
    border: 3px solid #11111b;
    padding: 3px;
    background-color: var(--crust);
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.outlink::after {
    content: url(/images/external-ltr.svg);
    margin-left: 5px;
}

#statuscafe {
    padding: 0.5em;
    background-color: var(--crust);
    border: 1px solid black;
}

#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}


