@media (prefers-color-scheme: dark) 
{
    body {
        background-color:rgb(20, 20, 20);
        color: white;
    }
}

@media (prefers-color-scheme: light) 
{
    body {
        background-color: white;
        color: black;
    }
}

